# Mac
.DS_Store

# Intellij
.idea
gen

# Node
npm-debug.log
/node_modules

# iOS
platforms/ios/build/
platforms/ios/CordovaLib/build/
platforms/ios/www
platforms/ios/.staging
platforms/ios/Unience/config.xml
platforms/ios/Unience/*.mode1v3
platforms/ios/Unience/*.perspectivev3
platforms/ios/Unience/*.pbxuser
platforms/ios/Unience/.DS_Store
platforms/ios/Unience/build/
platforms/ios/Unience.xcodeproj
*.ipa

# Emulator logs
platforms/ios/www/
platforms/ios/cordova/console.log
*.xcuserdatad

# android
platforms/android/assets/www
platforms/android/bin
platforms/android/gen
platforms/android/out
platforms/android/local.properties
platforms/android/ant-build
platforms/android/ant-gen
platforms/android/CordovaLib/ant-build
platforms/android/CordovaLib/ant-gen
platforms/android/CordovaLib/bin
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties
platforms/android/ant.properties

# res
resources/signing
